<ion-header [translucent]="true">
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-button routerLink="../tab4">
      <ion-icon slot="icon-only" name="arrow-undo-outline" ></ion-icon>
      
    </ion-button>
  </ion-buttons>

    <ion-title>
    <h2> futbol</h2>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="../tab2">
      <ion-icon slot="icon-only" name="arrow-redo-outline" ></ion-icon>
      
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="reorder-four-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://twitter.com/be46329584"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://www.facebook.com/edgar.beltran.1238"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button href="https://www.instagram.com/beltran6084/?hl=es-la"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <img src="/assets/imagenes/futbol.png">
    <ion-card-header>
      <ion-card-subtitle>Futbol</ion-card-subtitle>
      <ion-card-title><h3>¿Que es el futbol?</h3></ion-card-title>
    </ion-card-header>
    Deporte que se practica entre dos equipos de once jugadores que tratan de introducir un balón en la portería del contrario impulsándolo con los pies, la cabeza o cualquier parte del cuerpo excepto las manos y los brazos; en cada equipo hay un portero, que puede tocar el balón con las manos, aunque 
    solamente dentro del área; vence el equipo que logra más goles durante 
    los 90 minutos que dura el encuentro
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="/assets/imagenes/arbitro.png">
    <ion-card-header>
      <ion-card-subtitle>Futbol</ion-card-subtitle>
      <ion-card-title><h3>Reglas basicas del futbol</h3></ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
    1. Los partidos de fútbol se dividen en dos tiempos, cada uno de 45 minutos, con un descanso de 15<br>
   2. El árbitro lanza una moneda para decidir el lado de la cancha jugarán. <br>
  3. El balón está dentro del juego mientras no haya falta. La pelota está fuera de cancha si cruza la meta o la línea de banda.<br>
  4. Se marcará gol cuando el balón pasa la línea de meta y entra al arco, siempre y cuando no haya falta.
    </ion-card-content>
  </ion-card>

  
  <ion-button color="success" routerLink="../tab2">clubes</ion-button>
  <ion-button color="success" href="https://www.goal.com/es-mx">Goal</ion-button>


</ion-content>
